<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizit.quizit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".com.quizit.activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.quizit.activities.FactoryActivity"
            android:label="Fábrica de Perguntas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.quizit.activities.CadastroActivity"
            android:label="Cadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.quizit.activities.HomeActivity"
            android:label="Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.quizit.activities.ForgotPassActivity"
            android:label="Esqueci minha senha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.quizit.activities.JogarRandomActivity"
            android:label="Balloon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.quizit.activities.PerguntaActivity"
            android:label="Questão"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.quizit.activities.JogarRunActivity"
            android:label="Run"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".com.quizit.activities.RunFeedbackActivity"
            android:label="Run"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".com.quizit.activities.EditarPerfilActivity"
            android:label="Editar Perfil"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".com.quizit.activities.AlteraAvatarActivity"
            android:label="Alterar Avatar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".com.quizit.activities.RankingActivity"
            android:label="Ranking"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".com.quizit.activities.DesempenhoActivity"
            android:label="Desempenho"
            android:screenOrientation="portrait"/>

    </application>

</manifest>